################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/MediatR-dotnet-demo/ConsoleApp1/bin/Debug/netcoreapp3.1
