################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/MediatR-dotnet-demo/ConsoleApp1/bin/Debug/netcoreapp3.1
/MediatR-dotnet-demo/ConsoleApp1/obj
/.vs/MediatR-dotnet-demo/v16
/.vs
/MediatR-dotnet-demo/.vs/MediatR-dotnet-demo/v16
